.volunteersContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	align-self: center;
	width: 80%; // Adjust the width to suit your design
}

.profileCard {
	border: 1px solid #f7646455;
	border-radius: 0.5rem;
	box-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0, 0.144);
	display: flex;
	flex-direction: column;
	margin: 1rem;
	overflow: hidden;
	width: 15rem;
	max-width: 15rem; 
	box-sizing: border-box;
	background-color: #fff;
	transition: transform 0.3s ease;
	height: 25rem;

	&:hover {
		transform: translateY(-0.5rem);
	}

	@media (min-width: 768px) {
		max-width: calc(50% - 2rem); 
	}

	@media (min-width: 1024px) {
		max-width: calc(33.33% - 2rem); 
	}
}

.volunteerCard {
	width: 100%; 
	height: 70%; 
	display: flex;
	justify-content: center;
	align-items: center;
	// background-color: red;

	.imageContainerIcon {
		overflow: hidden;
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
}

.profileInfo {
	padding: 0.5rem 1rem;
	text-align: left;

	.name {
		font-size: 1.2rem;
		font-weight: bold;
		margin: 0;
		color: #333;
	}
}

.profileContainer {
	height: 30%;
}

.profileInfo1 {
	padding: 0.5rem 1rem;
	text-align: left;

	.rolePosition {
		font-size: 0.9rem;
		font-weight: 500;
		color:  #f44141;
	}
}

.profileDescription {
	padding: 0.5rem 1rem;
	text-align: left;
	// background-color: aquamarine;
	// width: 90%;
	height: 30%;
	// margin-bottom: 1rem;

	// .descriptionText {
	// 	font-size: 0.75rem;
	// 	color: #333;
	// 	margin: 0;
	// 	width: 100%;
	// 	text-wrap: wrap;
	// }
}

// .contactIcons {
// 	padding-left: 1rem;
// 	text-align: center;
// 	margin-bottom: 1rem;

// 	.socialMediaIcons {
// 		display: flex;
// 		gap: 1rem;

// 		.icon {
// 			font-size: 1rem;
// 			color: #f72424;
// 			cursor: pointer;
// 			transition: color 0.3s ease;

// 			&:hover {
// 				color: #ff2828;
// 			}
// 		}
// 	}
// }
